body {
  background-color: #e9ebee;
  color: #1d2129;
}
.fc-card-header {
  padding: 7px;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
}
textarea {
  border: none !important;
}
.fc-btn {
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 8px;
}
.fc-btn-default {
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
}
.fc-btn-white {
  background-color: #fff;
  border: none;
  color: red;
}
.fc-btn-rounded {
  background-color: #f5f6f7;
  border: none;
  color: #4b4f56;
  border-radius: 20px;
  width: 129px;
  height: 30px;
}
a{
  color: #385898;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
}
span {
  color: #606770;
  font-size: 12px;
}
#test{
  padding-right: 200px;
}
.text{
  position: absolute;
  top:80%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size:30px;

}
